[submodule "F11/Library/SimpleInit"]
	path = F11/Library/SimpleInit
	url = https://github.com/BigfootACA/simple-init.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms
